

.sectionUs {
    background-image: url('../img/piscina.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
    height: 150vh;
    position: relative;
  
}

.containerText{
    position: relative;
    top: 5rem;
    background: antiquewhite;
    margin: 1.5rem;
    padding: 1.5rem;
}

.texto{
    color: #000;
}