.sideBarContainer{
    width: 100%;
    height: 5rem;
    padding-top: 1rem;
    position: absolute;
}

.sideBarContainer ul{
    display: flex;
    justify-content: space-evenly;
}


.navEnlace{
    text-decoration: none;
    color: #0E1C36;
    font-weight:600 ;
}

.navEnlace:hover{
    cursor: pointer;
    color: #86adf7;
}