.slider {
    display: flex;
  justify-content: center;
  position: relative;
  top:1rem;
}

.flechas{
    width: 2rem;
  
}

.imgenes {
    width: 20%; 
    height: auto;
}

.botonSlide {
    padding: 1rem;
    margin: 10rem;
    border-style: hidden;
}